header, nav, article, footer {
    border-radius: 20px;
    border: solid #2067CA 1px;
    text-align: center;
    font-size: x-large;
}
header{
    background-color: #E8F2A1; 
    
}
div {
    display: flex;
}
li {
    list-style-type: none;
    
}
nav{
    display: grid;
    grid-column: auto;
}
ul{
    
}